<a href="https://colab.research.google.com/github/tvaditya/ufgnlp/blob/master/sentimentnlp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
## Import libraries
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import re
import math
import time
from google.colab import drive

In [2]:
## IMport tensorflow
try:
  %tensorflow_version 2.x
except:
  pass

import tensorflow as tf

from tensorflow.keras import layers
import tensorflow_datasets as tfds

TensorFlow 2.x selected.

In [3]:
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
cols = ["sentiment","id","date","query","user","text"]
train_data = pd.read_csv(
    "/content/drive/My Drive/nlp/train.csv",
    header=None,
    names= cols,
    engine="python",
    encoding="latin1"
)

test_data = pd.read_csv(
    "/content/drive/My Drive/nlp/test.csv",
    header=None,
    names= cols,
    engine="python",
    encoding="latin1"
)

In [5]:
train_data.head()

   sentiment  ...                                               text
0          0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  ...  is upset that he can't update his Facebook by ...
2          0  ...  @Kenichan I dived many times for the ball. Man...
3          0  ...    my whole body feels itchy and like its on fire
4          0  ...  @nationwideclass no, it's not behaving at all....

[5 rows x 6 columns]

In [6]:
test_data.head()

   sentiment  id  ...      user                                               text
0          4   3  ...    tpryan  @stellargirl I loooooooovvvvvveee my Kindle2. ...
1          4   4  ...    vcu451  Reading my kindle2...  Love it... Lee childs i...
2          4   5  ...    chadfu  Ok, first assesment of the #kindle2 ...it fuck...
3          4   6  ...     SIX15  @kenburbary You'll love your Kindle2. I've had...
4          4   7  ...  yamarama  @mikefish  Fair enough. But i have the Kindle2...

[5 rows x 6 columns]

In [0]:
# Preprocess

In [0]:
## cleaning
train_data.drop(["id","date","query", "user"],
          axis=1,
          inplace=True)

In [0]:
def clean_tweet(tweet):
  tweet = BeautifulSoup(tweet, "lxml").get_text()
  tweet = re.sub(r"@[A-Za-z0-9]+", ' ', tweet)
  tweet = re.sub(r"https?://[A-Za-z0-9./]+",' ', tweet)
  tweet = re.sub(r"[^a-zA-Z.!?']", ' ', tweet)
  tweet = re.sub(r" +", " ", tweet)

  return tweet

In [0]:
data_clean = [clean_tweet(tweet) for tweet in train_data.text]

In [0]:
data_labels = train_data.sentiment.values
data_labels[data_labels == 4] = 1